<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!-- Style sheets -->
		<link href="bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />
		
		<!-- Script files -->
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="bootstrap/bootstrap.min.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-animate/angular-animate.js"></script>
	</head>
	
	<body data-ng-app="AlbumSearch" data-ng-controller="AlbumSearchController">
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-default navbar-toggle" data-ng-init="toggleNavSearch = true" data-ng-show="toggleNavSearch" data-ng-click="nav_search_toggle()">
						<span class="sr-only">Toggle navigation</span>
						<i class="glyphicon glyphicon-search"></i>
					</button>
				
					<a class="navbar-brand" href="#">Spotify Search</a>
					
					<div class="btn-group settings">
  						<button type="button" class="btn navbar-btn navbar-right dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-cog"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						
						<ul class="dropdown-menu" role="menu"> 
							<li>Sort By</li>
							<li class="radio"><label><input type="radio" name="sort_option" value="None" data-ng-model="sortBy" data-ng-change="sortByChanged()">None</label></li>
							<li class="radio"><label><input type="radio" name="sort_option" value="Album" data-ng-model="sortBy" data-ng-change="sortByChanged()">Album</label></li>
							<li class="radio"><label><input type="radio" name="sort_option" value="Artist" data-ng-model="sortBy" data-ng-change="sortByChanged()">Artist</label></li>
							<li class="divider"></li>
							<li>Results per page</li>
							<li class="radio"><label><input type="radio" name="results_per_page" value="20" data-ng-model="resultsPerPage" data-ng-change="search_album()">20</label></li>
							<li class="radio"><label><input type="radio" name="results_per_page" value="30" data-ng-model="resultsPerPage" data-ng-change="search_album()">30</label></li>
							<li class="radio"><label><input type="radio" name="results_per_page" value="40" data-ng-model="resultsPerPage" data-ng-change="search_album()">40</label></li>
							<li class="radio"><label><input type="radio" name="results_per_page" value="50" data-ng-model="resultsPerPage" data-ng-change="search_album()">50</label></li>
						</ul>
					</div>
					
					<div class="navbar-form-container">
						<form class="navbar-form">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" data-ng-model="search_param" 
									data-ng-keypress="($event.which === 13)?search_album():0" required>
								
								<div class="input-group-btn">
									<button type="button" class="btn btn-default input_search_button" data-ng-click="search_album()">
										<i class="glyphicon glyphicon-search"></i>
									</button>
									
									<button type="button" class="btn btn-default search_cancel_button" data-ng-click="nav_search_toggle()">
										<i class="glyphicon glyphicon-remove"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</nav>
		
		<div class="container-fluid content">
		
			<div class="row">
				<div class="alert alert-info col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 alert_box" data-ng-hide="info_hide">
					<p><strong>Info!</strong> Welcome to Spotify Search. </p>
					
						<p class="hidden-sm hidden-xs"><i class="glyphicon glyphicon-chevron-right"></i> Search for albums by using the search box at the top right. <br /></p>
						<p class="hidden-md hidden-lg"><i class="glyphicon glyphicon-chevron-right"></i> Search for albums by using the search icon at the top right <br /></p>
						<i class="glyphicon glyphicon-chevron-right"></i> Click on thumbnails to view it in higher resolution. <br />
						<i class="glyphicon glyphicon-chevron-right"></i> Close it by clicking anywhere in the faded background. <br />
						<i class="glyphicon glyphicon-chevron-right"></i> Use the settings button to change sort order and number of results per page <br />
					
					<p><strong>Let's get started!</strong></p>
				</div>
				
				<div class="alert alert-danger col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 ng-cloak text-center" data-ng-init="error_hide=true" data-ng-hide="error_hide">
					<strong>Error!</strong> <span class="error_msg"></span>
				</div>
			</div>
			
			<div class="row hidden-lg hidden-md text-center search_badge">
				<p class="label label-primary"></p>
			</div>
			
			<ul class="row gallery">
				<li class="col-lg-3 col-md-3 col-sm-4 col-xs-6" data-ng-repeat="item in album_result" data-ng-cloak>
					<div class="card">
					
						<img img-preload class="fade" data-ng-attr-src="{{item.images[item.images.length - 2].url}}" alt="thumbnail" 
						  data-img-full-res="{{item.images[0].url}}" data-ng-click="showImage($event)"
						  data-artist-name="{{item.artists[0].name}}" data-album-name="{{item.name}}" />
						
						<div class="card_container">
							<b class="album-title">{{item.name}}</b>
							<p class="album-artist">{{item.artists[0].name}}</p>
						</div>
					</div>
				</li>
			</ul>	
			
		</div>
		
		<div class="footer">
			<div class="pagination_col" data-ng-hide="pagination_hide">
				<ul uib-pagination total-items="totalItems" data-ng-model="currentPage" data-ng-change="pageChanged()" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>
			</div>
		</div>
		
		<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close modal_close_but" data-dismiss="modal">&times;</button>
					<img img-preload ng-attr-src="{{img_src}}" class="img-responsive fade"/>
					<b>{{album_name}}</b>
					<p>{{artist_name}}</p>
				</div>
			</div>
		  </div>
		</div>

		<script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>